﻿        img.logo { height: 100px; }
        
        .box{         
            width: 800px;
            text-align: center;
            opacity: 1;
            height: 150px;
            transition: 1s ease-out;
      
            img{opacity: 1;transition: 1s ease-out;}
            
}

        .box-hidden
        {
            height: 0;
            overflow: hidden;
            opacity: 0;
            -moz-transition: 1s ease-out;
            -o-transition: 1s ease-out;
            -webkit-transition: 1s ease-out;
            transition: 1s ease-out;

            img{opacity: 0;transition: 1s ease-out;}
        }
        .box-gone
        {
            margin-left: 1000px;
            height: 0;
            overflow: hidden;
            opacity: 0;
            -moz-transform: rotate(1000deg);
            -ms-transform: rotate(1000deg);
            -o-transform: rotate(1000deg);
            -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
            transition: 1.4s ease-out;
        }
