﻿@model dynamic

@{
    ViewBag.Title = "About";

}

<div class="row-fluid">
    <div class="span8">
        <h1>So. What is this??</h1>

        <p>This is the backend for a <a href="http://netduino.com/">Netduino Plus</a> powered door knock sensor.</p>
        <p>The source for this site, analyzing the knocks sent from the microcontroller can be found here <a href="https://bitbucket.org/dalager/knocker">Knocker</a> </p>
        <p>The source for the Netduino knock sensor can be found here <a href="https://bitbucket.org/dalager/netduino-knock-sensor">Netduino Knock Sensor</a> </p>
        
        <p>You can start the <a href="/fakeit">/fakeit</a> page in a separate browser and use the buttons to post data to the service, emulating the Netduino hardware.</p>

    </div>
    <div class="span4">
<div class="well well-small"><h2>Who?</h2> <p>Made by Christian Dalager (<a href="http://dalager.com">dalager.com</a> / <a href="http://twitter.com/dalager">@@dalager</a>) for installation at <a href="http://eksponent.com">Eksponent HQ</a></p> </div>        
    </div>
</div>




