﻿
@{
    ViewBag.Title = "Fake it till you make it";
        
}
        <h1>Fake it till you make it</h1>
<p>Use these buttons to emulate input from Netduino micro controller</p>

<button class="btn" data-pattern="[196,400,500]">Short-long-long</button>
<button class="btn" data-pattern="[150,150,500,400,450,130,130,140]">Mayday</button>
<button class="btn" data-pattern="[200,196,300]">short-short-short</button>
<button class="btn" data-pattern="[196,196,500]">short-short-long</button>
<button class="btn" data-pattern="[196,400]">short-long</button>
<button class="btn" data-pattern="[196,123,123,123,123,123,123]">unknown</button>
<button class="btn" data-pattern="[300,101,101,300]">Shave and a Haircut</button>
<button class="btn" data-pattern="[300,101,300]">long, short, long (eksponent)</button>

<p> <button class="btnMaxInput">Send MaxInput from device</button> </p>


@section scripts
{
    <script>

        $(function() {
            $('.btnMaxInput').click(function() {
                var maxInput = { value: 2.2 };
                $.ajax('/api/maxinput', {
                    type: 'POST',
                    contentType: 'application/json',
                    headers: { Accept: 'application/json;charset=utf8' },
                    data: JSON.stringify(maxInput),
                    success: function(data) {
                        console.log(data);
                    }
                });
            });


            $('.btn').click(function() {
                var pattern = $(this).data('pattern');
                console.log(pattern.length);
                $.ajax('/api/knocks', {
                    type: 'POST',
                    contentType: 'application/json',
                    headers: { Accept: 'application/json;charset=utf8' },
                    data: JSON.stringify(pattern),
                    success: function(data) {
                        console.log(data);
                    }
                });
            });
        });
    </script>
    
}

