﻿@using Knocker
@model Knocker.Persons

<div id="list"></div>

<p class="well well-small pull-right">Sensor max:<span id="sensorMax">0.0</span></p>
@foreach (var p in Model)
{
    <div class="@p.ClassName" style="display: none;">@p.Name <img src="/Content/images/@p.Logo" style="width:100px;height:100px;"/></div>
}


@section scripts
{
    <script>
        var log = function(msg) {
            if (window.console) {
                console.log(msg);
            }
        };

        $(function() {
            $('#btn').click(function() {
                $('.box').toggleClass('box-hidden');
            });
        });

        var knockDetected = function(msg, pauses, classname) {
            var src = $('.' + classname + " img").attr('src');
            var box = $('<div class="box box-hidden"><h1>Heading</h1><img class="logo"/><p class="pauses"></p></div>');
            $(box).find('h1').text(msg);
            $(box).find('.logo').attr('src', src);
            $(box).find('.pauses').text(pauses);
            $('#list').prepend(box);
            setTimeout(function () { box.toggleClass('box-hidden'); }, 1);
            setTimeout(function () { box.toggleClass('box-gone'); setTimeout(function () { box.remove(); },2000) }, 3000);
        };

        var hub = $.connection.signalKnock;

        hub.client.knockDetected = function(msg, pauses, classname) {
            knockDetected(msg, pauses, classname);
        };

        hub.client.maxInput = function(maxinput) {
            log('Max input from sensor: ' + maxinput);
            $('#sensorMax').text(maxinput);
        };

        $.connection.hub.start().done(function() {});
    </script>
}